.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.panel {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
  color: white;
  margin-bottom: 2rem;
}

.social-links {
  text-decoration: underline !important;
  color: #2196f3 !important;
  margin: 0 0.4rem;
  width: 20px;
  height: 20px;
}

.social-links svg {
  width: 100%;
  height: 100%;
  fill: white;
}
