.sidebar,
body {
  color: var(--primary-font-color);
  background-color: var(--body-bg-color);
}

section.cover {
  background: var(--coverpage-bg-color) !important;
}

.anchor span {
  color: var(--primary-heading-color);
  font-weight: 400;
  /* font-size: 2rem; */
}

h1 {
  font-size: 3rem !important;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  color: var(--highlight-font-color);
}

.markdown-section hr {
  border-bottom: 1px dashed var(--divider-bg-color);
}

.markdown-section pre,
.markdown-section output {
  border-radius: 4px;
}

.markdown-section code,
.markdown-section pre {
  background-color: var(--code-panel-bg-color);
  border: 1px solid var(--code-panel-border-color);
}

.markdown-section > img {
  padding: 2rem;
  background-color: white;
  border-radius: 4px;
}

.markdown-section pre > code {
  color: var(--code-content-color);
}

.sidebar ul li a {
  color: var(--sidebar-label-color);
}

.sidebar-toggle {
  background: var(--coverpage-bg-color) !important;
}

.sidebar-toggle span {
  background-color: white;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
}

.search, .search .matching-post {
  border-color: var(--divider-bg-color) !important;
}

.search input {
  color: var(--primary-font-color);
  background-color: var(--sidebar-bg-color);
}