<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CSS Selectors</title>
    <link rel="stylesheet" href="../../prism/prism.css" />
    <style>
      body {
        margin: 0;
        padding: 1rem;
        font-family: 'Roboto';
      }
      pre.line-numbers {
        padding: 1rem 0 !important;
      }
    </style>
  </head>
  <body>
    <h1>CSS Grids</h1>
    <script src="../../prism/prism.js" type="text/javascript"></script>
  </body>
</html>
